/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}



#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    min-height:670px !important;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #005ec2;
    /* background-color: #000; */
    background: none;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    border: 5px solid rgba(0, 0, 0, 0) !important;
    border-top-color: #555 !important;
    margin-top: -3px;
    margin-right: 0px !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px !important;
}

table.table thead .sorting {
    background: url(../images/sort_both.png) no-repeat center right;
    text-align: center;
}

table.dataTable.display tbody th, table.dataTable.display tbody td {
    text-align: center;
}

.lft-td {
    background: #2a3f54;
    color: #fff;
}

table.table thead .sorting_asc, table.table thead .sorting_desc {
    text-align: center;
}

.surname a {
    font-size: 15px;
    font-weight: bold;
}

/* Side Navigation */

    .side-nav {
        position: fixed;
        top: 58px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }
    
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
            background-color: #355569;
    border-color: #355569;
    }
    
    .text-danger {
        color: #ff1414;
    }
    
    .btn-primary:focus, .btn-primary:hover {
    background-color: #888888;
    background-position: 0 -15px;
}

    .btn, a, i{
        
        transition: 0.3s ease;
    }
    .btn-primary {
    border: none;
    border-radius: 2px;
        background: #1d5da5;
    background-image: none;
    font-size: 14px;
    
    }
    
       .btn-secondary {
    border: none;
    border-radius: 2px;
        background: #888888;
    background-image: none;
    font-size: 14px;
    color: #fff;
    
    }
    
    .btn-secondary:hover {
        background: #5a5a5a;
        color: #fff;
    }
    
    
    a {
    color: #1859a3;
    }

.table thead {
    color: #eaeaea;
    background: #355569;
}

    .btn-warning2 {
    background-color: #1859a3!important;
    border-color: #1859a3!important;
    color: #FFFFFF;
}

    .btn-default,.btn-warning2    {
    background-color: #2a67aa;
    background-image: none;
    color: #fff;
    text-shadow: none;
    border:none;
    transition: 0.3s ease;
}
     .btn-default:hover,.btn-warning2:hover    {
         background-color: #2E7BB5;
         color: #fff;
     }
    
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
        background-image: none;
            background-color: #005ec2;
    }   
    .side-nav li a {
            transition: 0.3s ease;
                font-size: 16px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #86888c !important;
    }
    
    #logoimg {
        max-width: 144px;
        margin-top:5px;
        margin-bottom:5px;
    }


.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.redbg {
    background: #ff1414;
}

.fieldhold label {
    float:right;
}

.formtitle
{
    border-bottom: 2px #ddd solid;
    padding-bottom: 14px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #efefef;
}



@media(min-width:768px) {
    
     body {
        margin-top: 50px;
    }
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}